# --- Backend (.NET) ---
[Bb]in/
[Oo]bj/
.vs/
*.db
appsettings.Development.json

*.user
*.db
*.sln.docstates

# --- Resimler ve Statik Dosyalar ---
# wwwroot 
**/wwwroot/images/*

# --- Frontend (React) ---
**/node_modules/
**/dist/
**/build/
.env
.env.local

# --- IDE ve Sistem ---
.vscode/
Thumbs.db
# --- Visual Studio Kullanıcı Ayarları ---
*.user
*.userosscache
*.sln.docstates